---
const { title, subtitle } = Astro.props;
---

<body class="p-40">
  <div
    class="w-0 h-0 border-l-[100px] border-l-transparent border-t-[150px] border-t-green-700 border-r-[100px] border-r-transparent"
  >
  </div>
</body>
