---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contacto" sideBarActiveItemID="contact">
  <div class="mt-10 mb-10">
    <div class="text-3xl w-full font-bold mb-5">Contacto</div>
  </div>
  <div class="mt-10 mb-4" style="display: inline-flex; align-items: center;">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="w-6 h-6"
    >
      <path d="M10.5 18.75a.75.75 0 000 1.5h3a.75.75 0 000-1.5h-3z"></path>
      <path
        fill-rule="evenodd"
        d="M8.625.75A3.375 3.375 0 005.25 4.125v15.75a3.375 3.375 0 003.375 3.375h6.75a3.375 3.375 0 003.375-3.375V4.125A3.375 3.375 0 0015.375.75h-6.75zM7.5 4.125C7.5 3.504 8.004 3 8.625 3H9.75v.375c0 .621.504 1.125 1.125 1.125h2.25c.621 0 1.125-.504 1.125-1.125V3h1.125c.621 0 1.125.504 1.125 1.125v15.75c0 .621-.504 1.125-1.125 1.125h-6.75A1.125 1.125 0 017.5 19.875V4.125z"
        clip-rule="evenodd"></path>
    </svg>
    <span style="margin-left: 5px;">+34 663 933 195</span>
  </div>
  <br />
  <div class="mb-4" style="display: inline-flex; align-items: center;">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="w-6 h-6"
    >
      <path
        d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z"
      ></path>
      <path
        d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z"
      ></path>
    </svg>
    <span style="margin-left: 5px;">yanneris.fernandez@gmail.com</span>
  </div>
  <br />
  <div class="mb-4" style="display: inline-flex; align-items: center;">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="w-6 h-6"
      ><circle cx="4.983" cy="5.009" r="2.188"></circle><path
        d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"
      ></path></svg
    >
    <span style="margin-left: 5px;"
      ><a
        href="https://www.linkedin.com/in/yanneris-fernández-rodríguez-432a03b3"
        >Yanneris Fernández Rodríguez</a
      ></span
    >
  </div>
  <br />
  <div class="mb-20" style="display: inline-flex; align-items: center;">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="w-6 h-6"
    >
      <path
        fill-rule="evenodd"
        d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z"
        clip-rule="evenodd"></path>
    </svg>
    <span style="margin-left: 5px;">Madrid, España</span>
  </div>
  <div class="mb-20"><br /><br /><br /><br /></div>
</BaseLayout>
