---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import TimeLineTriangle from "../components/cv/TimeLineAndTriangle.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
    Comunicadora apasionada con experiencia en gestión de comunidades y redes
    sociales. Experta en crear y ejecutar estrategias de contenido para aumentar
    la visibilidad de la marca y el compromiso de la audiencia.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Máster en Marketing y Dirección Comercial"
      subtitle="EUDE Escuela de Dirección de Empresas - Madrid | Octubre 2021 - Noviembre 2022"
    />
    <TimeLineElement
      title="Diplomado en Fundamentos de la Comunicación"
      subtitle="Universidad de la Habana | Septiembre de 2018 - Julio de 2019"
    />
    <TimeLineElement
      title="Licenciado en Comunicación Social"
      subtitle="Universidad de la Habana | Septiembre 2011 - Julio 2016"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Community Manager"
      subtitle="Cuballama | Noviembre de 2021 - Junio de 2023 | Teletrabajo a tiempo completo"
    >
      <ul class="list-disc mx-6">
        <li>
          Responsable de gestionar y hacer crecer la comunidad en plataformas de
          redes sociales
        </li>
        <li>
          Creación y publicación de contenido relevante y atractivo para
          aumentar la participación y el alcance
        </li>
        <li>
          Monitoreo y análisis de métricas para medir el rendimiento de las
          campañas y realizar ajustes estratégicos
        </li>
        <li>
          Atención y respuesta a las consultas y comentarios de los seguidores,
          manteniendo una comunicación positiva y proactiva
        </li>
        <li>Herramientas 2.0</li>
        <li>Copywriting</li>
      </ul>
      <br />
    </TimeLineElement>
    <TimeLineElement
      title="Community Manager"
      subtitle="GAMA Artes Gráficas | Agosto de 2021 - Noviembre de 2021"
    >
      <ul class="list-disc mx-6">
        <li>
          Encargado de la conceptualización y diseño de las estrategias para el
          crecimiento y posicionamiento de la marca en el mercado
        </li>
        <li>
          Responsable de idear y ejecutar la estrategia integral de marketing
          digital, incorporando tácticas innovadoras para maximizar la
          visibilidad y el alcance de la empresa
        </li>
        <li>
          Liderazgo en la planificación y ejecución de campañas de marketing en
          línea, asegurando la promoción efectiva de los servicios y la
          generación de clientes potenciales
        </li>
        <li>
          Gestión estratégica de las redes sociales, incluyendo la creación de
          contenido atractivo, el seguimiento de métricas clave y la
          optimización continua para mejorar el compromiso y la interacción con
          la audiencia
        </li>
        <li>
          Encargada de la planificación, diseño y ejecución de campañas de email
          marketing dirigidas a clientes actuales y potenciales, con el objetivo
          de fomentar la fidelización y la conversión
        </li>
        <li>
          Responsable de la gestión y optimización del sitio web, asegurando una
          estructura de información coherente y fácil navegación para mejorar la
          experiencia del usuario
        </li>
        <li>
          Coordinación de equipo (5 personas entre diseñadores, fotógrafo y
          programador)
        </li>
      </ul>
      <br />
    </TimeLineElement>
    <TimeLineElement
      title="Community Manager"
      subtitle="Estrella Tours | Octubre de 2022 - Junio de 2023 | Teletrabajo"
    >
      <ul class="list-disc mx-6">
        <li>
          Responsable de planificar, desarrollar y ejecutar estrategias de
          contenido para plataformas de redes sociales (Instagram y Facebook)
        </li>
        <li>
          Creación de publicaciones atractivas y relevantes para aumentar el
          compromiso y la interacción con la comunidad en línea
        </li>
        <li>
          Monitoreo y análisis de métricas clave para evaluar el rendimiento de
          las campañas y realizar mejoras continuas
        </li>
        <li>
          Gestión de la imagen de marca en redes sociales y respuesta efectiva a
          comentarios y consultas de los seguidores
        </li>
        <li>
          Elaboración de informes de rendimiento y presentación de resultados al
          equipo directivo
        </li>
        <li>
          Creación y configuración de campañas publicitarias en plataformas como
          Facebook Ads, Instagram Ads y Google Ads, asegurando la optimización
          de presupuesto y segmentación del público objetivo
        </li>
        <li>
          Monitoreo y análisis de métricas publicitarias para evaluar el
          rendimiento de las campañas y realizar ajustes estratégicos en tiempo
          real
        </li>
      </ul>
      <br />
    </TimeLineElement>
    <TimeLineElement
      title="Especialista Comercial"
      subtitle="S.L.N.E. JENNIE MARIA PETER. (Marca comercial: Cubacation) | Mayo de 2018 - Octubre de 2021"
    >
      <ul class="list-disc mx-6">
        <li>
          Gestión de reservaciones turísticas, asegurando una planificación
          precisa y una experiencia satisfactoria para los clientes
        </li>
        <li>
          Responsable de recibir y procesar las solicitudes de reservas de
          alquiler de autos de manera eficiente y amigable
        </li>
        <li>
          Demostrada experiencia en ventas, superando objetivos y contribuyendo
          al crecimiento de ingresos de la empresa
        </li>
        <li>
          Brindar asesoramiento y atención personalizada a los clientes,
          garantizando una experiencia de reserva sin problemas y satisfactoria
        </li>
        <li>
          Coordinar la disponibilidad de vehículos y ofrecer opciones adecuadas
          para satisfacer las necesidades de los clientes
        </li>
        <li>
          Realizar seguimiento de reservas y confirmaciones, asegurando la
          correcta preparación y entre de los vehículos
        </li>
        <li>
          Dominio de sistemas de reservas y herramientas tecnológicas utilizadas
          en el proceso de reserva de autos
        </li>
      </ul>
      <br />
    </TimeLineElement>
    <TimeLineElement
      title="Especialista Comercial"
      subtitle="Corporación CIMEX | Septiembre de 2016 - Mayo de 2018"
    >
      <ul class="list-disc mx-6">
        <li>
          Responsable de la atención, control y seguimiento del registro de
          marcas de la Corporación CIMEX, garantizando la protección y defensa
          de la propiedad intelectual de la empresa
        </li>
        <li>
          Elaboración y ejecución de estrategias para la gestión eficiente de la
          propiedad intelectual de la corporación
        </li>
        <li>
          Concepción, planificación, ejecución y evaluación de campañas
          comerciales y de marketing para promover productos y servicios de la
          corporación, aumentando la visibilidad y participación en el mercado
        </li>
        <li>
          Análisis de resultados y ajustes estratégicos para mejorar el impacto
          de las campañas
        </li>
        <li>
          Colaboración activa en la creación de material publicitario y
          herramientas de apoyo para el equipo de ventas, facilitando su labor y
          aumentando la eficacia en la comunicación con los clientes
        </li>
        <li>
          Realización de estudios de mercado para identificar tendencias,
          oportunidades y comportamiento del consumidor, contribuyendo a la toma
          de decisiones estratégicas de la corporación
        </li>
        <li>
          Organización y gestión de eventos y ferias comerciales nacionales e
          internacionales, asegurando una exitosa representación de la
          corporación y la interacción con clientes y socios potenciales
        </li>
        <li>
          Responsable de mantener actualizados todos los documentos
          corporativos, incluyendo manuales, presentaciones y materiales de
          apoyo, para garantizar la consistencia y coherencia de la imagen de la
          corporación
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineTriangle marginTop="20" />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificaciones</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="/Titulo Universidad.pdf">
        Licenciatura en Comunicación Social (PDF)</a
      >
    </li>
    <li>
      <a target="_blank"> Maestría en Marketing y Dirección Comercial</a>
    </li>
    <li>
      <a href="/Titulo Master.PDF" target="_blank">
        Maestría en Marketing y Dirección Comercial (PDF)</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-7 list-outside">
    <li>Marketing digital</li>
    <li>Redes Sociales</li>
    <li>Facebook Ads</li>
    <li>Instagram Ads</li>
    <li>Google Ads</li>
    <li>Investigación de mercado</li>
    <li>Estratega</li>
    <li>Gestión de Relaciones con Clientes (CRM)</li>
    <li>Gestión de proveedores</li>
    <li>Servicios al cliente</li>
    <li>Gestión de ventas</li>
    <li>Propiedad intelectual</li>
    <li>Eventos corporativos</li>
    <li>SPSS</li>
    <li>Microsoft Office</li>
    <li>SEO/SEM</li>
    <li>Copywriter</li>
    <li>Email Marketing</li>
    <li>Marketing de contenido</li>
  </ul>
</BaseLayout>
